:root {
    --white: white;
    --muted-blue: rgb(54, 54, 94);
    --light-purple: rgb(236, 229, 254);
    --grayish-purple: #9884a1;
    --coffee-brown: #9F8170;
    --medium-brown: #593c2c;
    --dark-brown: #ccc3bf;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 0;
    background-color: white;
    width: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
}  

header nav {
    margin: 7px 0 0 100px;
    width: 100%;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header ul li {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 20px;
}

header ul li a {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    color: var(--medium-brown);
}

a:hover {
    text-decoration: none;
    color: var(--coffee-brown);
}

i {
    color: var(--white);
}

.flex-container {
    display: inline-flex;
}

.logo {
    max-width: 250px;
    max-height: 150px;
    display: block;
    object-fit: contain;
    margin-top: 7px;
}

.hero {
    background-color: var(--light-purple);
    width: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
}

.option-container {
    margin: 50px;
    width: 100%;
    align-items: center;
}

.card {
    background-color: var(--white);
    /* box-shadow: 2px 2px #6d5976; */
    font-size: 25px;
    padding: 20px;
    margin: 10px 20px;
    border-radius: 6px;
    border: none;
    min-width: 300px;
    min-height: 300px;
    vertical-align: middle;
}

.option-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    color: var(--medium-brown);
}

.title {
    font-weight: bold;
    font-size: 24px;
}

.our-background {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--dark-brown);
    color: var(--white);
    text-align: left;
}

.our-background h2 {
    font-weight: bold;
    color: var(--white);
    padding: 10px;
    margin-top: 40px 20px 20px 20px;
    width: 100%;
    font-size: 20px;
    border-bottom: 8px solid white;
}

.bio-container {
    margin: 20px;
    background-color: var(--white);
    color: var(--grayish-purple);
    flex: 1;
    border-radius: 4px;
}

.bio-container img {
    width: 100%;
}

.section-title {
    margin: 15px 0 0 0;
}

.bio {
    padding: 25px;
    line-height: 1.3;
}

.bio h3 {
    font-size: 28px;
}

.bio p {
    font-size: 17px;
}

.socials-container {
    padding: 0;
    background-color: var(--white);
    vertical-align: middle;
    background-color: var(--grayish-purple);
}

.socials-container h3 {
    padding: 20px;
    text-align: center;
}

.socials-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.socials-container ul li {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 20px;
}

.socials-container ul li a {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    color: var(--white);
}

.socials-container ul li a:hover {
    text-decoration: none;
    color: gray;
}

/* #donation-option {
    border-radius: 2px;
    border: 3px solid #7f2d82
}

#story-option {
    border: 3px solid #ac1637
}

#resource-option {
    border: 3px solid #364998
} */

#social-header {
    padding-top: 10px;
    font-size: 20px;
    color: white;
    border-bottom: 7px solid white;
    width: 30%;
    text-align: center;
}