:root {
    --white: white;
    --muted-red: rgb(200, 98, 119);
    --light-purple: rgb(213, 194, 243);
    --grayish-purple: #8e74ab;
    --coffee-brown: #9F8170;
    --dark-brown: #593c2c;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light-purple);
    margin: 0 auto;
}

header {
    padding: 0;
    /* background-color: #4B3621; */
    background-color: var(--white);
    width: 100%;
    vertical-align: middle;
}  

header nav {
    margin: 7px 0 0 100px;
    width: 100%;
    align-items: center;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 20px;
}

header ul li a {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    color: var(--dark-brown);
}

a:hover {
    text-decoration: none;
    color: var(--coffee-brown);
}

.flex-container {
    display: inline-flex;
}

.logo {
    max-width: 250px;
    max-height: 150px;
    display: block;
    object-fit: contain;
    margin-top: 7px;
}

/* .hero {

} */